<h3>Search Form</h3>
<form action="{% url 'voters_list' %}">
    <table>
        <tr>
            <th><p>First Name:<p></th>
            <th><p>Last Name:</p></th>
            <th><p>Min DoB:</p></th>
            <th><p>Max DoB:</p></th>
            <th><p>Party:<p></th>
            <th><p>Voter Score:</p></th>
        </tr>
        <tr>
            <td><input type="text" name="first_name"></td>
            <td><input type="text" name="last_name"></td>
            <td><input type="date" name="min_dob"></td>
            <td><input type="date" name="max_dob"></td>
            <td>
                <select name="party">
                    <option value="">Select Party</option>
                    <option value="U "><p>Unenrolled (U)</p></option>
                    <option value="D "><p>Democratic (D)</p></option>
                    <option value="R "><p>Republican (R)</p></option>
                    <option value="CC "><p>Constitution Party (CC)</p></option>
                    <option value="L "><p>Libertarian (L)</p></option>
                    <option value="T "><p>Tea Party (T)</p></option>
                    <option value="O "><p>Other (O)</p></option>
                    <option value="G "><p>Green (G)</p></option>
                    <option value="J "><p>Independent (J)</p></option>
                    <option value="Q "><p>Reform Party (Q)</p></option>
                    <option value="FF "><p>Freedom Party (FF)</p></option>
                </select>
            </td>
            <td>
                <select name="voterscore">
                    <option value="">Select Score</option>
                    <option value="0"><p>0</p></option>
                    <option value="1"><p>1</p></option>
                    <option value="2"><p>2</p></option>
                    <option value="3"><p>3</p></option>
                    <option value="4"><p>4</p></option>
                    <option value="5"><p>5</p></option>
                </select>
            </td>
        </tr>
    </table>

    <table>
        <h3>Election Participation:</h3>
        <tr>
            <th><p>State Election 2020</p></th>
            <th><p>Town Election 2021</p></th>
            <th><p>Primary 2021</p></th>
            <th><p>General Election 2022</p></th>
            <th><p>Town Election 2023</p></th>
        </tr>
        <tr>
            <td><input type="checkbox" name="v20state" value="True"><p>Voted</p></td>
            <td><input type="checkbox" name="v20state" value="True"><p>Voted</p></td>
            <td><input type="checkbox" name="v21town" value="True"><p>Voted</p></td>
            <td><input type="checkbox" name="v21primary" value="True"><p>Voted</p></td>
            <td><input type="checkbox" name="v22general" value="True"><p>Voted</p></td>
        </tr>
    </table>

    <button type="submit">Search</button>
</form>
