{% extends 'voter_analytics/base.html' %}
<h1>Showing all Results</h1>
{% block content %}
<div>
    <div>
        {% include "voter_analytics/search.html" %}    
    </div>

    <h1>Voters</h1>
    <p> Entries shown: {{ voters|length }}</p>
    <div>
        <table>
            <tr>
                <th><h3>Name</h3></th>
                <th><h3>Address</h3></th>
                <th><h3>Date of Birth</h3></th>
                <th><h3>Party Affiliation</h3></th>
                <th><h3>Voter Score</h3></th>
            </tr>
    
            {% for v in voters %}
            <tr>
                <td class="name"><a href="{% url 'voter' v.pk %}"><p>{{v.last_name}}, {{v.first_name}}</p></a></td>

                {% if v.apt_num != "" %}
                    <td><p>{{v.street_num}} {{v.street_name}}, APT {{v.apt_num}}, {{v.zip_code}}</p></td>
                {% else %}
                    <td><p>{{v.street_num}} {{v.street_name}}, {{v.zip_code}}</p></td>
                {% endif %}
                <td><p>{{v.date_of_birth}}</p></td>
                <td><p>{{v.party}}</p></td>                
                <td><p>{{v.voterscore}}</p></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <div class="button">
                            <span><h3>Previous</h3></span>
                        </div>
                    </a>
                </li>
            {% endif %}
                <li>
                    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <div>
                            <span>Next</span>
                        </div>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>    
{% endblock %}