{% extends 'voter_analytics/base.html' %}
<h1>Showing all Results</h1>
{% block content %}
<div class="container">
    <div class="row">
        {% include "voter_analytics/search.html" %}    
    </div>

    <h1>Voters</h1>
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Party Affiliation</th>
                <th>Voter Score</th>
            </tr>
    
            {% for v in voters %}
            <tr>
                <td><a href="{% url 'voter' v.pk %}">{{v.last_name}}, {{v.first_name}}</a></td>

                {% if v.apt_num != "" %}
                    <td>{{v.street_num}} {{v.street_name}}, APT {{v.apt_num}}, {{v.zip_code}}</td>
                {% else %}
                    <td>{{v.street_num}} {{v.street_name}}, {{v.zip_code}}</td>
                {% endif %}
                <td>{{v.party}}</td>                
                <td>{{v.voterscore}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>    
{% endblock %}