{% load static %}
<html>
    <head>
        <title>Final!</title>
        <link rel="stylesheet" href="{% static 'analytics.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'nutrition_results' %}">PbN</a></li>
                    <li><a href="{% url 'env_impact_results' %}">PbENV</a></li>
                    <li><a href="{% url 'cause_results' %}">ENV Cause</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
