{% extends 'project/base.html' %}
<h1>Showing all Products by this cause</h1>
{% block content %}


<h1>All of our related causes:</h1>

<div class="cause-list">
    {% for cause in causes %}
    <div class="cause-card">

        <a href="{% url 'show_cause' cause.pk %}"><div class="cause">
            <h3>Title: {{ cause.title }}</h3>
        </a></div>

        <a href="{% url 'cause_category' cause.pk %}"><div class="category">
            <h3>Category: {{ cause.category }}</h3>
        </a></div>

        <p>{{ cause.description }}</p>
    </div>
    {% endfor %}
</div>    

{% endblock %}