{% extends 'project/base.html' %}
<h1>Showing all Products by this cause</h1>
{% block content %}
<div>

    <h1>Products in this category</h1>
    <h3>{{ cause.category }}</h3>

    <p> Entries shown: {{ products|length }}</p>
    <div>
        <table>
            <tr>
                <th><h3>Product Name</h3></th>
                <th><h3>Brands</h3></th>
                <th><h3>Categories</h3></th>
                <th><h3>Origins</h3></th>
                <th><h3>Nutrition Grade</h3></th>
                <th><h3>EcoScore</h3></th>
            </tr>
    
            {% for p in products %}
            <tr>
                <td class="name">
                    <a href="{% url 'product' p.pk %}"><p>{{ p.product_name|default:"N/A" }}</p></a>
                </td>
                <td><p>{{ p.get_brands|default:"N/A" }}</p></td>
                <td><p>{{ p.categories|default:"N/A" }}</p></td>
                <td><p>{{ p.origins|default:"N/A" }}</p></td>
                <td><p>{{ p.nutritional_info.nutrition_grade_fr|default:"N/A" }}</p></td>
                <td><p>{{ p.environmental_info.ecoscore_grade|default:"N/A" }}</p></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <div>
                            <span>Prev</span>
                        </div>
                    </a>
                </li>
            {% endif %}
                <li>
                    <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <div>
                            <span>Next</span>
                        </div>
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>    
{% endblock %}