{% extends 'project/base.html' %}
{% block content %}

<div>
    <form method="post">
        {% csrf_token %}
        <h3>Create a Product</h3>
        <div>
            <h4>Product Details</h4>
            {% for field in product_form %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        </div>
        <div>
            <h4>Nutritional Information</h4>
            {% for field in nutritional_form %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        </div>
        <div>
            <h4>Environmental Information</h4>
            {% for field in environmental_form %}
                <label>{{ field.label }}</label>
                {{ field }}
            {% endfor %}
        </div>
        <input type="submit" value="Create Product">
    </form>
</div>

{% endblock %}
