{% extends 'project/base.html' %}
{% block content %}

<div>
    <h3>{{ p.product_name|default:"Unregistered Product Name" }} by 
        {% if p.brands.all %}
        {% for brand in p.brands.all %}
            <a href="{% url 'show_brand' brand.pk %}" class="brand_name">{{ brand.brand_name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% else %}
            N/A
        {% endif %}
    </h3>

    <h3>Categories:</h3>
    <p>{{ p.categories|default:"N/A" }}</p>
    
    <a href="{% url 'product_graph' p.pk %}"><div class="button"><h3>See Graphs</h3></div></a>

    <h3>Geographical Information</h3>
    <table>
        <tr>
            <th><h3>Origins</h3></th>
            <th><h3>Places of Manufacture</h3></th>
            <th><h3>Countries of Distribution</h3></th>
        </tr>
        <tr>
            <td><p>{{ p.origins|default:"N/A" }}</p></td>
            <td><p>{{ p.manufacturing_places|default:"N/A" }}</p></td>
            <td><p>{{ p.countries|default:"N/A" }}</p></td>
        </tr>
    </table>

    <h3>Environmental Information</h3>
    <table>
        <tr>
            <th><h3>EcoScore</h3></th>
            <th><h3>Carbon Footprint (per 100g)</h3></th>
        </tr>
        <tr>
            <td><p>
                {% if p.environmental_info.ecoscore_grade|lower == "a-plus" %}
                    A+
                {% else %}
                    {{ p.environmental_info.ecoscore_grade|upper|default:"N/A" }}
                {% endif %}
            </p></td>
            <td><p>{{ p.environmental_info.carbon_footprint_100g}}</p></td>
        </tr>
    </table>

    <h3>Nutritional Information</h3>
    <table>
        <tr>
            <th><h3>Nutrition Grade</h3></th>
            <th><h3>Ingredients</h3></th>
            <th><h3>Traces</h3></th>
            <th><h3>Energy (kcal per 100g)</h3></th>
            <th><h3>Proteins (per 100g)</h3></th>
            <th><h3>Carbohydrates (per 100g)</h3></th>
            <th><h3>Fats (per 100g)</h3></th>
        </tr>
        <tr>
            <td><p>{{ p.nutritional_info.nutrition_grade_fr|default:"N/A" }}</p></td>
            <td><p>{{ p.ingredients_text|default:"N/A" }}</p></td>
            <td><p>{{ p.traces|default:"N/A" }}</p></td>
            <td><p>{{ p.nutritional_info.energy_kcal_100g }}</p></td>
            <td><p>{{ p.nutritional_info.proteins_100g }}</p></td>
            <td><p>{{ p.nutritional_info.carbohydrates_100g}}</p></td>
            <td><p>{{ p.nutritional_info.fat_100g}}</p></td>
        </tr>
    </table>

    <h3>Social causes of this product:</h3>
    <table>
        <tr>
            <th><h3>Causes</h3></th>
            <th><h3>Category</h3></th>
            <th><h3>Description</h3></th>
        </tr>
        {% for cause in p.causes.all %}
        <tr>
            <td><p><a href="{% url 'show_cause' cause.pk %}">{{ cause.title }}</a></p></td>
            <td><p>{{ cause.category }}</p></td>
            <td><p>{{ cause.description }}</p></td>
        </tr>
        {% endfor %}
    </table>

    {% if request.user.is_authenticated %}
        <h3>Update Product Information</h3>
        <a href="{% url 'update_product' p.pk %}"><div class="button"><h3>Update This Product</h3></div></a>

        <h2>Delete Product</h2>
        <form method="post" action="{% url 'delete_product' p.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete Product" class="button">
        </form>
    {% endif %}

</div>

{% endblock %}