<h3>Search All Products</h3>
<form action="{% url 'home' %}">
    <table>
        <tr>
            <th><p>Product Name:<p></th>
            <th><p>Brand:</p></th>
            <th><p>Categories:</p></th>
        </tr>
        <tr>
            <td><input type="text" name="product_name"></td>
            <td><input type="text" name="brands"></td>
            <td><input type="text" name="categories"></td>
        </tr>
        <tr>
            <th><p>Origins:</p></th>
            <th><p>EcoScore:</p></th>
            <th><p>Nutrition Grade:<p></th>
            <th><p>Ingredients:</p></th>
        </tr>
        <tr>
            <td><input type="text" name="origins"></td>
            <td>
                <select name="ecoscore">
                    <option value="">EcoScore</option>
                    <option value="a"><p>A</p></option>
                    <option value="b"><p>B</p></option>
                    <option value="c"><p>C</p></option>
                    <option value="d"><p>D</p></option>
                    <option value="e"><p>E</p></option>
                    <option value="f"><p>F</p></option>
                </select>
            </td>
            <td>
                <select name="nutrition_grade_fr">
                    <option value="">Nutrition Grade</option>
                    <option value="A"><p>A</p></option>
                    <option value="B"><p>B</p></option>
                    <option value="C"><p>C</p></option>
                    <option value="D"><p>D</p></option>
                    <option value="E"><p>E</p></option>
                    <option value="F"><p>F</p></option>
                </select>
            </td>
            <td><input type="text" name="ingredients"></td>
        </tr>
    </table>

    <button type="submit">Search</button>
</form>