<!-- blog/templats/blog/article.html -->
{% extends 'blog/base.html' %}

{% block content %}

<h1>{{article.title}}</h1>

<main class="grid-container"> <!-- was <div> -->
    <article class="featured"> <!-- was <div> -->
        
        <img src="{{article.image_file.url}}" alt="{{article.image_url}}">

        <div> <!-- added this! -->
            <h2>{{article.title}}</h2>
            <h3>by {{article.author}} at {{article.published}}</h3>
            <p>
                {{article.text}}
            </p>       

            <h4><a href="{% url 'create_comment' article.pk %}">
                Add a comment</a>
            </h4>
        </div> <!-- added this! -->
 
    </article> <!-- was <div> -->

    <!-- display the comments -->
    <div>
        {% if article.get_comments %}
            <h2>Comments</h2>
            <!-- call the Article's get_comments() method -->
            <!-- {{article.get_comments}}  -->
        
            {% for c in article.get_comments %}
            <div>
                <strong>by {{c.author}} and {{c.published}} </strong>
                <p>
                    {{c.text}}
                </p>

            </div>
            {% endfor %}

        {% else %}
            <div>
                <h2>No comments</h2>
            </div>
        {% endif %}


    </div>
</main> <!-- was <div> -->

{% endblock %}