## edit blog/templates/blog/base.html
## update URLs in <nav> based on logged in status:
<!-- blog/templates/blog/base.html -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <nav>
                <ul>
                    <!-- URLs that do not depend on authentication status -->
                    <li><a href="{% url 'show_all' %}">Show All</a></li>
                    <li><a href="{% url 'random' %}">Random</a></li>
                    
                    <!-- URLs that depend on authentication status -->
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'create_article' %}">Create Article</a></li>

                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form>

                    {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
                </ul>
                
                <!-- show who's logged in -->
                {% if request.user.is_authenticated %}
                Logged in user: {{ request.user }}.
                {% else %}
                Not logged in.
                {% endif %}
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>