<!-- blog/templates/blog/base.html 
 This is base page from which all other pages will inherit.
 Put common code here, specific code in separate pages
 -->
 {% load static %}
<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
    </head>
    <body>

    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <li><a href="{% url 'show_all' %}">Show All</a></li>
            <li><a href="{% url 'random' %}">Random</a></li>
            <li><a href="{% url 'create_article' %}">Create Article </a></li>
        </ul>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

   
    </body>
</html>