{% load static %}
<html>
    <head>
        <title>Mini Facebook!</title>
        <link rel="stylesheet" href="{% static 'fb.css' %}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'show_all_profiles' %}"><h1>All Profiles</h1></a></li>
                    <li><a href="{% url 'create_new_profile' %}"><h1>Create New Profile</h1></a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
