{% extends 'mini_fb/base.html' %}
{% block content %}

<h2>These are some people you might like!</h2>
<div class="design">
    <div class="bg-design-block"></div>
    {% for p in profiles %}
    <a href="{% url 'show_profile' p.pk %}">
        <div class="profile-card">
            <img src="{{p.image_url}}" alt="{{p.first_name}} {{p.last_name}}">
            <h2>{{p.first_name}} {{p.last_name}}</h2>
            <a href="{% url 'add_friend' user.pk  p.pk %}"><div class="button">Add Friend</div></a>
        </div>
    </a>
    {% endfor %}
</div>
<a href="{% url 'show_profile' user.pk %}"><div class="button">Return to My Profile</div></a>
{% endblock %}
        