{% extends "./base.html" %}

{% block title %}About - Quote App{% endblock %}

{% block content %}
    <h1>About James Baldwin</h1>
    <table>
        <tr>
            <td>
                <img src= "/static/jbaldwin4.jpg" style="max-width: 200px;">
            </td>
            <td>
                <p>
                    James Baldwin (born August 2, 1924, New York, New York, U.S.—died December 1, 1987, Saint-Paul de Vence, France) 
                    was an essayist, novelist, and playwright whose eloquence and passion on the subject of race in America made him 
                    one of the most important voices of the 20th century. A writer of exceptionally clear and psychologically penetrating 
                    prose, Baldwin addressed race relations with deft complexity and incisive anger. He was also one of the first Black 
                    writers to include queer themes in fiction, notably in <i>Giovanni’s Room</i> (1956), writing with a frankness that was 
                    highly controversial at the time. His works include the novels <i>Go Tell It on the Mountain</i> (1953) and <i>Another 
                    Country</i> (1962), the plays <i>The Amen Corner</i> (1954) and <i>Blues for Mister Charlie</i> (1964), and the essay 
                    collections <i>Nobody Knows My Name</i> (1961) and <i>The Fire Next Time</i> (1963).
                </p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <p>
                    Baldwin's fiction posed fundamental personal questions and dilemmas amid complex social and psychological pressures. 
                    Themes of masculinity, sexuality, race, and class intertwine to create intricate narratives that influenced both the civil 
                    rights movement and the gay liberation movement in mid-twentieth century America. Baldwin's protagonists are often, but not 
                    exclusively African American; gay and bisexual men feature prominently in his work (as in <i>Giovanni's Room</i>). 
                    His characters typically face internal and external obstacles in their search for self and social acceptance.
                </p>
            </td>
            <td>
                <img src="/static/jbaldwin5.jpg" style="max-width: 200px;">
            </td>
        </tr>
    </table>
    
{% endblock %}