<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>{% block title %}Quote App{% endblock %}</title>
        <link rel = "stylesheet" href = "{% static 'styles.css' %}">
    </head>

    <body>
        <header class="quote-header">
            <nav>
                <ul>
                    <li><a href="{% url 'quote' %}">Home</a></li>
                    <li><a href="{% url 'show_all' %}">All Quotes</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>